.login__container {
  width: 100w;
  height: 100vh;
  background-color: #f0f2f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login__wrapper {
  width: 50%;
  height: 50%;
  display: flex;
}
.login__left,
.login__right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login__logo {
  font-size: 60px;
  font-weight: bold;
  color: #1775ee;
  margin-bottom: 10px;
}
.login__desc {
  font-size: 24px;
}
.login__box {
  height: 320px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.login__input {
  height: 50px;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 18px;
  padding-left: 20px;
}

.login__input:focus {
  outline: none;
}
.login__button {
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: #1775ee;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.login__button-disabled {
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: #69a4f1;
  color: rgb(209, 207, 207);
  font-size: 20px;
  font-weight: 500;
}
.login__forgot {
  text-align: center;
  color: #1775ee;
}
.login__Register-button {
  height: 50px;
  width: 70%;
  align-self: center;
  border: none;
  border-radius: 10px;
  background-color: #42b72a;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  .login__wrapper {
    flex-direction: column;
    height: 60%;

    row-gap: 10px;
    justify-content: center;
    align-items: center;
  }
  .login__left {
    text-align: center;
  }
  .login__Register-button {
    width: 100%;
  }
}
