.topbar__container {
  height: 50px;
  width: 100%;
  background-color: #1877f2;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0px;

  z-index: 999;
}

.topbar__left {
  flex: 3;
}
.topbar__logo {
  font-size: 24px;
  margin-left: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.topbar__center {
  flex: 5;
}
.searchbar {
  width: 100%;
  height: 30px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
}
.search__icon {
  font-size: 20px;
  margin-left: 10px;
}
.search__input {
  border: none;
  width: 80%;
}
.search__input:focus {
  outline: none;
}
.topbar__right {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}
.topbar__links {
  display: flex;
  gap: 1rem;
}
.topbar__link {
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer;
  font-weight: 500;
}
.topbar__icons {
  display: flex;
}
.topbar__icons-item {
  margin-right: 15px;
  cursor: pointer;
  position: relative;
}

.topbar__icon-badge {
  font-size: 12px;
  height: 15px;
  width: 15px;
  background-color: red;
  border-radius: 50%;
  color: white;
  position: absolute;
  top: -5px;
  right: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topbar__profile-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
.logout__icon {
  font-size: 20px;
}

a {
  text-decoration: none !important;
  color: white;
  font-size: inherit;
  font-family: inherit;
}
