.post__container {
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  margin: 30px 0;
}
.post__wrapper {
  padding: 10px;
}
.post__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.post__top-left {
  display: flex;
  align-items: center;
}
.post__profile-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.post__username {
  font-size: 15px;
  font-weight: 500;
  margin: 0 10px;
}
.post__date {
  font-size: 12px;
}
.post_center {
  margin: 20px 0;
}
.post__img {
  margin-top: 10px;
  width: 100%;
  max-height: 600px;
  object-fit: contain;
}
.post__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.post__bottom-left {
  display: flex;
  align-items: center;
}
.post__bottom-likeicon {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  cursor: pointer;
}
.post__bottom-likecounter {
  font-size: 15px;
}
.post__comment-text {
  cursor: pointer;
  border-bottom: 1px dashed gray;
  font-size: 15px;
}
